/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        lpair_comb {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <4 3>;
        };

        rpair_comb {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <7 8>;
        };

        lbkt_comb {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <16 15>;
        };

        rbkt_comb {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <19 20>;
        };

        lbrc_comb {
            bindings = <&kp LEFT_BRACE>;
            key-positions = <28 27>;
        };

        rbrc_comb {
            bindings = <&kp RIGHT_BRACE>;
            key-positions = <31 32>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp ESCAPE       &kp Q  &kp W  &kp E             &kp R  &kp T                     &kp Y                    &kp U          &kp I      &kp O    &kp P     &lt 3 LEFT_BRACKET
&kp TAB          &kp A  &kp S  &kp D             &kp F  &kp G                     &kp H                    &kp J          &kp K      &kp L    &kp SEMI  &kp SQT
&kp RIGHT_SHIFT  &kp Z  &kp X  &kp C             &kp V  &kp B                     &kp N                    &kp M          &kp COMMA  &kp DOT  &kp FSLH  &mt RIGHT_ALT RIGHT_BRACKET
                               &kp LEFT_CONTROL  &mo 1  &mt LEFT_COMMAND SPACE    &mt RIGHT_COMMAND ENTER  &kp BACKSPACE  &mo 2
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp LC(LG(Q))  &kp N1             &kp N2           &kp N3          &kp N4            &kp N5        &kp N6    &kp N7    &kp N8  &kp N9     &kp N0  &trans
&kp K_MUTE     &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp C_PREVIOUS  &kp C_PLAY_PAUSE  &kp C_NEXT    &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &trans  &trans
&kp LG(SPACE)  &trans             &trans           &trans          &trans            &trans        &trans    &trans    &trans  &trans     &trans  &trans
                                                   &trans          &trans            &trans        &trans    &trans    &trans
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TILDE     &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT        &kp CARET  &kp AMPS   &kp ASTRK  &kp LPAR  &kp RPAR  &trans
&kp CAPSLOCK  &trans    &trans  &trans    &trans    &kp PAGE_UP      &kp MINUS  &kp EQUAL  &kp LBKT   &kp RBKT  &kp BSLH  &kp GRAVE
&trans        &trans    &trans  &trans    &trans    &kp PAGE_DOWN    &kp UNDER  &kp PLUS   &kp LBRC   &kp RBRC  &kp PIPE  &trans
                                &trans    &trans    &trans           &trans     &trans     &trans
            >;
        };

        fbtn_layer {
            bindings = <
&kp F1  &kp F2  &kp F3  &kp F4   &kp F5   &kp F6     &trans  &kp DELETE  &kp RALT  &kp RSHFT  &kp RCTRL  &trans
&kp F7  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12    &trans  &trans      &trans    &trans     &trans     &trans
&trans  &trans  &trans  &trans   &trans   &trans     &trans  &trans      &trans    &trans     &trans     &trans
                        &trans   &trans   &trans     &trans  &trans      &trans
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
